<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zhaoyan.ladderball"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- AA数据库模型配置 -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="LadderBall.db"/>
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1"/>
        <meta-data
            android:name="AA_MODELS"
            android:value="com.zhaoyan.ladderball.model.User,com.zhaoyan.ladderball.model.Task,
                         com.zhaoyan.ladderball.model.Match,com.zhaoyan.ladderball.model.Team,
                         com.zhaoyan.ladderball.model.Player,com.zhaoyan.ladderball.model.PartData,
                         com.zhaoyan.ladderball.model.EventItem,com.zhaoyan.ladderball.model.PlayerEvent,
                         com.zhaoyan.ladderball.model.PracticeTask"/>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.ModifyPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activity.TaskMainActivity"
            android:label="任务主页"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activity.TaskSettingActivity"
            android:label="任务设置"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activity.DataRecoderActivity"
            android:label="@string/title_activity_data_recoder"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activity.ChooseStartingUpPlayerActivity"
            android:label="@string/title_activity_choose_starting_up_player"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activity.DataRepairActivity"
            android:label="@string/title_activity_data_repair"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activity.CreatePracticeActivity"
            android:label="@string/title_activity_create_practice"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
